<form class="form-container" [formGroup]="options">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>{{cds.getRenderingLabelForComponent(component)}}</mat-label>
    <input matInput type="number" placeholder="Your Number Here"
           [formControl]="inputValueControl"
           (input)="inputChanged($event)">
    <span matSuffix>{{unitOfMeasure}}</span>
    <mat-hint align="start" *ngIf="inputValueControl.getError('min')" class="mat-error">Value should be at least {{constraintMinValue}}.</mat-hint>
    <mat-hint align="start" *ngIf="inputValueControl.getError('max')" class="mat-error">Value should be at most {{constraintMaxValue}}.</mat-hint>
    <mat-hint align="start" *ngIf="inputValueControl.getError('required')" class="mat-error">The value is required.</mat-hint>
    <mat-hint align="end">{{getMinMaxValueHint()}}</mat-hint>
  </mat-form-field>
</form>
