<form class="form-container" [formGroup]="options">
  <mat-form-field class="full-width">
    <mat-label>{{cds.getRenderingLabelForComponent(component)}}</mat-label>
    <input matInput type="text" placeholder="Your Text Here" *ngIf="component.basicInfo.inputType==inputText"
           [formControl]="inputValueControl"
           [errorStateMatcher]="errorStateMatcher"
           (input)="inputChanged($event)">
    <textarea matInput type="text" placeholder="Your Text Here" *ngIf="component.basicInfo.inputType==inputTextarea"
              cdkTextareaAutosize
              cdkAutosizeMinRows="6"
              [formControl]="inputValueControl"
              [errorStateMatcher]="errorStateMatcher"
              (input)="inputChanged($event)"></textarea>
    <button type="button" tabindex="0" mat-button *ngIf="inputValueControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="inputValueControl.getError('minlength')">Value should be at least {{constraintMinLength}} chars long.</mat-error>
    <mat-error *ngIf="inputValueControl.getError('maxlength')">Value should be at most {{constraintMaxLength}} chars long.</mat-error>
    <mat-error *ngIf="inputValueControl.hasError('required')">The value is required.</mat-error>
    <mat-hint align="end">{{getCharCountHint()}}</mat-hint>
  </mat-form-field>
</form>

