<section class="ror-details">
  <button
    type="button"
    class="close-button"
    matSuffix
    mat-icon-button
    attr.aria-label="{{ 'Generic.HideAuthorityRecord' | translate: { authority: 'ROR' } }}"
    matTooltip="{{ 'Generic.HideAuthorityRecord' | translate: { authority: 'ROR' } }}"
    (click)="closeClicked()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <header class="organization-header">
    <div class="organization-id">
      <div class="ror-logo" role="img" aria-label="ROR logo"></div>
      <a href="{{ rorDetail.id }}" target="_blank" rel="noopener noreferrer">
        {{ rorDetail.id }}
        <mat-icon class="external-link-icon" matTooltip="{{ 'Generic.OpenRorProfile' | translate }}"
          >open_in_new</mat-icon
        >
      </a>
    </div>
  </header>
  <div class="organization-details">
    <h1 class="organization-name">{{ rorDetail.name }}</h1>
    <div class="columns">
      <div class="column left">
        @if (rorDetail.rawResponse.types.length) {
          <section class="types">
            <h2>Organization Type</h2>
            <p>{{ rorDetail.rawResponse.types.join(', ') }}</p>
          </section>
        }
        @if (rorDetail.rawResponse.relationships) {
          <section class="relationships">
            <h2>Relationships</h2>
            @for (group of groupedRelationships | keyvalue; track group) {
              <div>
                <h3>{{ group.key | titlecase }} Organizations</h3>
                <ul>
                  @for (relation of group.value; track relation) {
                    <li>
                      <a [href]="relation.id" target="_blank" rel="noopener noreferrer">
                        {{ relation.label }}
                      </a>
                    </li>
                  }
                </ul>
              </div>
            }
          </section>
        }
      </div>
      <div class="column right">
        <section class="links">
          <h2>Links</h2>
          <ul>
            @for (link of rorDetail.rawResponse.links; track link) {
              <li>
                <a href="{{ link.value }}" target="_blank" rel="noopener noreferrer">
                  {{ link.type }}
                </a>
              </li>
            }
          </ul>
        </section>
        <section class="locations">
          <h2>Location</h2>
          @for (location of rorDetail.rawResponse.locations; track location) {
            <p>
              <strong>{{ location.geonames_details.name }}</strong
              >,
              {{ location.geonames_details.country_name }}
              ({{ location.geonames_details.country_subdivision_name }})<br />
            </p>
          }
        </section>
      </div>
    </div>
  </div>
</section>
