<section class="ror-details">
  <button type="button" class="close-button" mat-button matSuffix mat-icon-button attr.aria-label="{{'Generic.HideDetails' | translate}}" matTooltip="{{'Generic.HideDetails' | translate}}" (click)="closeClicked()">
    <mat-icon>close</mat-icon>
  </button>
    <header class="organization-header">
      <div class="organization-id">
        <div class="ror-logo" role="img" aria-label="ROR logo"></div>
        <a href="{{ rorDetail.id }}" target="_blank" rel="noopener noreferrer">
          {{ rorDetail.id }} <mat-icon class="external-link-icon" matTooltip="{{'Generic.OpenRorProfile' | translate}}">open_in_new</mat-icon>
        </a>
      </div>
    </header>
    <div class="organization-details">
      <h1 class="organization-name">{{ rorDetail.name }}</h1>
      <div class="columns">
        <div class="column left">
          <section *ngIf="rorDetail.rawResponse.types.length" class="types">
            <h2>Organization Type</h2>
            <p>{{ rorDetail.rawResponse.types.join(', ') }}</p>
          </section>
          <section *ngIf="rorDetail.rawResponse.relationships" class="relationships">
            <h2>Relationships</h2>
            <div *ngFor="let group of groupedRelationships | keyvalue">
              <h3>{{ group.key | titlecase }} Organizations</h3>
              <ul>
                <li *ngFor="let relation of group.value">
                  <a [href]="relation.id" target="_blank" rel="noopener noreferrer">
                    {{ relation.label }}
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="column right">
          <section class="links">
            <h2>Links</h2>
            <ul>
              <li *ngFor="let link of rorDetail.rawResponse.links">
                <a href="{{ link.value }}" target="_blank" rel="noopener noreferrer">
                  {{ link.type }}
                </a>
              </li>
            </ul>
          </section>
          <section class="locations">
            <h2>Location</h2>
            <p *ngFor="let location of rorDetail.rawResponse.locations">
              <strong>{{ location.geonames_details.name }}</strong>,
              {{ location.geonames_details.country_name }}
              ({{ location.geonames_details.country_subdivision_name }})<br />
            </p>
          </section>
        </div>
      </div>
    </div>
</section>
