<form class="form-container" [formGroup]="options">
  <div *ngIf="readOnlyMode && inputValueControl.getRawValue()" class="mat-form-field-wrapper mat-form-field-flex mat-form-field-outline fake-input">
    <a href={{bioPortalTermLink}} target="_blank">
      <button matPrefix class="bio-portal-icon" (click)="goToBioPortalTerm()"></button>
      <span class="text-class">{{inputValueControl.getRawValue()}}</span>
    </a>
  </div>
  <mat-form-field *ngIf="!readOnlyMode" class="full-width">
<!--    <mat-label>{{cds.getRenderingLabelForComponent(component)}}</mat-label>-->
    <input matInput type="text"
           placeholder="{{'Generic.Filter' | translate}}"
           #autoCompleteInput="matAutocompleteTrigger"
           [formControl]="inputValueControl"
           [errorStateMatcher]="errorStateMatcher"
           [matAutocomplete]="auto"
           (input)="inputChanged($event)"
           [readonly]="readOnlyMode"
           attr.aria-label="{{cds.getRenderingLabelForComponent(component)}}">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.prefLabel"
                  (onSelectionChange)="onSelectionChange(option)"
      >{{option.prefLabel}}</mat-option>
    </mat-autocomplete>
    <button type="button" tabindex="0" mat-button *ngIf="inputValueControl.value && !readOnlyMode" matSuffix mat-icon-button attr.aria-label="{{'Generic.Clear' | translate}}" (click)="clearValue()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error tabindex="0" *ngIf="inputValueControl.getError('required') && !readOnlyMode" class="mat-error align-start">{{'Validation.Required' | translate}}</mat-error>
  </mat-form-field>
</form>

