<form class="form-container" [formGroup]="options">
  <mat-form-field class="half-width-with-margin" floatLabel="always">
    <mat-label>{{ 'Generic.Name' | translate }}</mat-label>
    <input
      matInput
      type="text"
      placeholder="{{ 'Generic.AttributeName' | translate }}"
      [formControl]="nameInputControl"
      (input)="nameChanged($event)"
      (blur)="nameChanged($event)"
      [readonly]="readOnlyMode"
      attr.aria-label="{{ 'Generic.AttributeName' | translate }}"
    />
    @if (nameInputControl.value && !readOnlyMode) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        attr.aria-label="{{ 'Generic.Clear' | translate }}"
        (click)="clearName()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    @if (attributeNameError) {
      <mat-error class="mat-error align-start">{{ attributeNameError }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="half-width" floatLabel="always">
    <mat-label>{{ 'Generic.Value' | translate }}</mat-label>
    <input
      matInput
      type="text"
      placeholder="{{ 'Generic.AttributeValue' | translate }}"
      [formControl]="valueInputControl"
      (input)="valueChanged($event)"
      [readonly]="readOnlyMode"
      attr.aria-label="{{ 'Generic.AttributeValue' | translate }}"
    />
    @if (valueInputControl.value && !readOnlyMode) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        attr.aria-label="{{ 'Generic.Clear' | translate }}"
        (click)="clearValue()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</form>
