@use '@org.metadatacenter/cedar-design-tokens/tokens' as ui-tokens;
:host {
  display: block;
  padding-top: ui-tokens.$space-4;
  container: cee-attribute / inline-size;
}

@container cee-attribute (max-width: 240px) {
  .half-width,
  .half-width-with-margin {
    width: 100%;
    margin-inline: 0;
  }
}
