<div class="wide-container">

  <footer class="main__footer">
    <div class="flex">
      <a href="https://bmir.stanford.edu" target="_blank"><img src="assets/images/bmir-logo.png" class="bmir-logo" matTooltip="{{'Generic.BMIR' | translate}}"></a>
      <div class="paragraph__section">
        <p>
          {{'App.Maintained' | translate}}
        </p>
        <p>
          <a href="https://more.metadatacenter.org/tools-training/support/#contact" target="_blank">{{'App.Contact' | translate}}</a>
        </p>
      </div>
    </div>
  </footer>

</div>
