<div class="wide-container">

  <footer class="main__footer">
    <div class="flex">
      <h1 class="footer-title">About CEDAR</h1>
      <div class="paragraph__section">
        <p>
          <a href="https://bmir.stanford.edu" target="_blank"><img src="assets/images/bmir-logo.png" class="bmir-logo" alt="BMIR Logo"></a>
          CEDAR is maintained by the Stanford Center for Biomedical Informatics Research.
        </p>
        <p>
          <a href="https://more.metadatacenter.org/tools-training/support/#contact" target="_blank">Contact CEDAR</a>
        </p>
      </div>
    </div>

  </footer>
</div>
