<form class="form-container" [formGroup]="options">
  <mat-form-field class="full-width">
<!--    <mat-label>{{cds.getRenderingLabelForComponent(component)}}</mat-label>-->
    <ng-container *ngIf="readOnlyMode">
      <input matInput type="text"
             [formControl]="inputValueControl"
             readonly
             attr.aria-label="{{cds.getRenderingLabelForComponent(component)}}">
    </ng-container>
    <mat-select *ngIf="!readOnlyMode"
                #inputSelect
                [formControl]="inputValueControl"
                [errorStateMatcher]="errorStateMatcher"
                multiple="{{component.choiceInfo.multipleChoice}}"
                (selectionChange)="inputChanged()"
                [aria-label]=cds.getRenderingLabelForComponent(component)>
      <mat-option *ngFor="let option of dropdownList" [value]="option.id"
        >{{option.label}}</mat-option>
    </mat-select>
    <button type="button" tabindex="0" mat-button *ngIf="inputValueControl.value && !readOnlyMode" matSuffix mat-icon-button attr.aria-label="{{'Generic.Clear' | translate}}" (click)="clearValue($event)">
       <mat-icon>close</mat-icon>
    </button>
    <mat-error tabindex="0" *ngIf="inputValueControl.hasError('required') && !readOnlyMode" class="mat-error align-start">{{'Validation.Required' | translate}}</mat-error>
    <mat-hint *ngIf="maxSelections!==undefined && !readOnlyMode">{{'Validation.Select.MaxSelection' | translate: {maxSelections} }}</mat-hint>
  </mat-form-field>
</form>

