.flex-container {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 20px;
}

.flex-child1 {
  flex: 1 100%;
}

.flex-child2 {
  width: 170px;
  text-align: right;
  margin-right: 17px;
}

.success-box {
  background-color: #f44336;
  padding: 15px;
  border: 1px solid #bce8f1;
  color: #31708f;
  //display: none;
}





@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.my-notify-info, .my-notify-success, .my-notify-error {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.my-notify-info:before, .my-notify-success:before, .my-notify-error:before {
  font-family:FontAwesome;
  font-style:normal;
  font-weight:400;
  speak:none;
  display:inline-block;
  text-decoration:inherit;
  width:1em;
  margin-right:.2em;
  text-align:center;
  font-variant:normal;
  text-transform:none;
  line-height:1em;
  margin-left:.2em;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.my-notify-info:before {
  content:"\f05a";
}

.my-notify-success:before {
  content:'\f00c';
}

.my-notify-error:before {
  content:'\f057';
}

.my-notify-info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.my-notify-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.my-notify-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
