.flex-container-data-saver {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 20px;

  .flex-child1 {
    flex: 1 100%;
  }

  .flex-child2 {
    width: 170px;
    text-align: right;
    margin-right: 17px;
  }
}

.metadata-save-button {
  padding: 8px 50px !important;
  font-size: 16px;
  font-weight: 400;
}

