<p>CEDAR Embeddable Editor Testbed - Dashboard</p>

<div><a [routerLink]="['/template']" fragment="01">Template 01 - text field, single</a></div>
<div><a [routerLink]="['/template']" fragment="02">Template 02 - text field, multi</a></div>
<div><a [routerLink]="['/template']" fragment="03">Template 03 - text field, multi with constraints </a></div>
<div><a [routerLink]="['/template']" fragment="04">Template 04 - numeric fields, single + multi</a></div>
<div><a [routerLink]="['/template']" fragment="05">Template 05 - single element</a></div>
<div><a [routerLink]="['/template']" fragment="06">Template 06 - multiple element</a></div>
<div><a [routerLink]="['/template']" fragment="07">Template 07 - email field</a></div>
<div><a [routerLink]="['/template']" fragment="08">Template 08 - multiple choice</a></div>
<div><a [routerLink]="['/template']" fragment="09">Template 09 - checkbox</a></div>
<div><a [routerLink]="['/template']" fragment="10">Template 10 - checkbox with defaults</a></div>
<div><a [routerLink]="['/template']" fragment="11">Template 11 - pick from a list single select</a></div>
<div><a [routerLink]="['/template']" fragment="12">Template 12 - pick from a list multi select</a></div>
<div><a [routerLink]="['/template']" fragment="13">Template 13 - attribute value metadata</a></div>
<div><a [routerLink]="['/template']" fragment="14">Template 14 - two levels deep</a></div>

<div><a [routerLink]="['/template']" fragment="21">Template 21 - controlled - mixed</a></div>
<div><a [routerLink]="['/template']" fragment="22">Template 22 - multiple min none</a></div>
<div><a [routerLink]="['/template']" fragment="23">Template 23 - multiple min 3</a></div>
<div><a [routerLink]="['/template']" fragment="24">Template 24 - multiple element, min 4</a></div>
<div><a [routerLink]="['/template']" fragment="26">Template 26 - multiple element multiple field</a></div>

<div><a [routerLink]="['/template']" fragment="27">Template 27 - link</a></div>
<div><a [routerLink]="['/template']" fragment="28">Template 28 - multi element with several fields</a></div>
<div><a [routerLink]="['/template']" fragment="29">Template 29 - multi element with several fields, one multi</a></div>
<div><a [routerLink]="['/template']" fragment="30">Template 30 - element with multi-field, both min none</a></div>

<div><a [routerLink]="['/template']" fragment="31">Template 31 - text field with constraints</a></div>
<div><a [routerLink]="['/template']" fragment="32">Template 32 - numeric field - integer with u.m</a></div>
<div><a [routerLink]="['/template']" fragment="33">Template 33 - numeric field - long integer</a></div>
<div><a [routerLink]="['/template']" fragment="34">Template 34 - numeric field - single-precision</a></div>
<div><a [routerLink]="['/template']" fragment="35">Template 35 - numeric field - double-precision</a></div>

<div><a [routerLink]="['/template']" fragment="51">Template 51 - MiAIRR V1.1.0</a></div>
