<p>Dashboard</p>

<div><a [routerLink]="['/template']" fragment="01">Template 01 - text field, single</a></div>
<div><a [routerLink]="['/template']" fragment="02">Template 02 - text field, multi</a></div>
<div><a [routerLink]="['/template']" fragment="03">Template 03 - text field, multi with constraints </a></div>
<div><a [routerLink]="['/template']" fragment="04">Template 04 - numeric fields, single + multi</a></div>
<div><a [routerLink]="['/template']" fragment="05">Template 05 - single element</a></div>
<div><a [routerLink]="['/template']" fragment="06">Template 06 - multiple element</a></div>
<div><a [routerLink]="['/template']" fragment="07">Template 07 - email field</a></div>
<div><a [routerLink]="['/template']" fragment="08">Template 08 - multiple choice</a></div>
<div><a [routerLink]="['/template']" fragment="09">Template 09 - checkbox</a></div>
<div><a [routerLink]="['/template']" fragment="10">Template 10 - checkbox with defaults</a></div>
<div><a [routerLink]="['/template']" fragment="11">Template 11 - pick from a list single select</a></div>
<div><a [routerLink]="['/template']" fragment="12">Template 12 - pick from a list multi select</a></div>




