<div class="flex-container">
  <ng-container class="component-title">
    <i *ngIf="isRor" class="ai ai-ror"></i>
    <i *ngIf="isOrcid" class="ai ai-orcid"></i>
    &nbsp;
  {{cds.getRenderingLabelForComponent(component)}}

  <span *ngIf="shouldRenderRequiredMark">
    <sup style="font-size: medium; color: red" aria-label="required"><b>*</b></sup>
  </span>
  <span class="flex-child" *ngIf="component.isMultiPage() && !readOnlyMode">
    &nbsp;({{multiComponent.multiInfo.getSafeMinItems()}}
     ..
    <span *ngIf="multiComponent.multiInfo.maxItems">
      {{multiComponent.multiInfo.maxItems}}
    </span>
    <span *ngIf="!multiComponent.multiInfo.maxItems" matTooltip="{{'Generic.Infinite' | translate}}">
      ∞
    </span>)
  </span>
  <mat-icon *ngIf="component.labelInfo.description && component.labelInfo.description !== 'Help Text'"
            matTooltip="{{component.labelInfo.description}}"
            matTooltipClass="tooltip"
            matTooltipPosition="right"
            aria-hidden="false"
            aria-labelledby="description"
            class="icon-help icon-questionmark"
            role="tooltip"
            inline="false">help</mat-icon>
  </ng-container>
  <span id="Description of {{cds.getRenderingLabelForComponent(component)}}" class="cdk-visually-hidden">{{component.labelInfo.description}}</span>
</div>
