<app-cedar-component-header [componentToRender]="component"></app-cedar-component-header>
<ng-content></ng-content>
@if (showContent) {
  <div class="child-component-content">
    @if ((handlerContext.readOnlyMode || inputType === 'page-break') && inputType) {
      <p class="cee-field-type">{{ 'FieldType.' + inputType | translate }}</p>
    }
    @if (
      decision.kind === 'field' ||
      (decision.kind === 'static' && decision.renderer !== 'image' && decision.renderer !== 'youtube')
    ) {
      <app-cedar-field-spec [fieldToDescribe]="decision.component" variant="description"></app-cedar-field-spec>
    }
    @if (inputType !== 'section-break' && inputType !== 'page-break') {
      <app-cedar-field-widget
        [componentToRender]="component"
        [handlerContext]="handlerContext"
      ></app-cedar-field-widget>
    }
  </div>
}
