<mat-card class="child-component-card youtube-component">
  <iframe
    *ngIf="videoEmbedUrl"
    class="youtube-player"
    [src]="videoEmbedUrl"
    [attr.height]="videoHeight"
    [attr.width]="videoWidth"
    [attr.title]="videoTitle"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <mat-card-content>
    {{ component.labelInfo.description }}
  </mat-card-content>
</mat-card>
