<form class="form-container" [formGroup]="options">
  <mat-form-field class="full-width">
<!--    <mat-label>{{cds.getRenderingLabelForComponent(component)}}</mat-label>-->
    <input matInput type="text"
           [formControl]="inputValueControl"
           [errorStateMatcher]="errorStateMatcher"
           (input)="inputChanged($event)">
    <button type="button" mat-button *ngIf="inputValueControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error align="start" *ngIf="inputValueControl.getError('required')" class="mat-error">The value is required.</mat-error>
  </mat-form-field>
</form>

