.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-item-checkbox {
  flex: 0 1 auto;
  margin-right: 8px;
  font-size: 0.8em;
  font-weight: normal;

  div {
    margin-left:10px;
  }
}

.flex-item-select {
  flex: 1 1 auto;
  width: 100%;
  height: 48px;
  font-size: 0.8em;
}

.flex-item-select.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}


