<form class="form-container" [formGroup]="options">
  <mat-form-field class="full-width">
    <input matInput [formControl]="selectedChoiceInputControl" style="display:none">
    <mat-radio-group [formControl]="selectedChoiceInputControl">
      <div *ngFor="let choice of component.choiceInfo.choices" class="col-md-2">
        <mat-radio-button
          [checked]="choice.selectedByDefault"
          [value]="choice.label"
          (change)="inputChanged($event)"
        >{{choice.label}}</mat-radio-button>
      </div>
      <button type="button" tabindex="0" mat-button *ngIf="selectedChoiceInputControl.value " matSuffix mat-icon-button attr.aria-label="{{'Generic.Clear' | translate}}" (click)="clearValue()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-radio-group>
    <ng-container *ngIf="!readOnlyMode">
      <mat-error *ngIf="selectedChoiceInputControl.getError('required')" class="mat-error align-start">{{'Validation.Required' | translate}}</mat-error>
    </ng-container>
  </mat-form-field>
</form>
