.source-accordion {
  margin-bottom: 20px;

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

}

.mat-expansion-panel {
  max-width: 90%;
  margin: 0 auto;
  background-color: #f5f5f5;

  pre {
    font-size: 12px;
    line-height: 1.1;
  }
}

.mat-expansion-panel-header-title .mat-icon {
  margin-right: 15px;
}
