<mat-accordion class="source-accordion" multi>

  <mat-expansion-panel *ngIf="showDataQualityReport" expanded="{{expandedDataQualityReport}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>list_alt</mat-icon>
        {{'Extra.DataQualityReport' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="dataContext.dataQualityReport | json" (click)="stopPropagation($event)" matTooltip="{{'Generic.Copy' | translate}}">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{dataContext.dataQualityReport | json}}</pre>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="showInstanceDataCore" expanded="{{expandedInstanceDataCore}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>device_hub</mat-icon>
        {{'Extra.JsonLD.InstanceCore' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="dataContext.instanceExtractData | json" (click)="stopPropagation($event)" matTooltip="{{'Generic.Copy' | translate}}">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{dataContext.instanceExtractData | json}}</pre>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="showInstanceDataFull" expanded="{{expandedInstanceDataFull}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>device_hub</mat-icon>
        {{'Extra.JsonLD.Instance' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="dataContext.instanceFullData | json" (click)="stopPropagation($event)" matTooltip="{{'Generic.Copy' | translate}}">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{dataContext.instanceFullData | json}}</pre>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="showTemplateSourceData" expanded="{{expandedTemplateSourceData}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>view_module</mat-icon>
        {{'Extra.JsonSchemaTemplate' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="dataContext.templateInput | json" (click)="stopPropagation($event)" matTooltip="{{'Generic.Copy' | translate}}">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{dataContext.templateInput | json}}</pre>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="showTemplateRenderingRepresentation" expanded="{{expandedTemplateRenderingRepresentation}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>list_alt</mat-icon>
        {{'Extra.TemplateRendering' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="dataContext.templateRepresentation | json" (click)="stopPropagation($event)" matTooltip="{{'Generic.Copy' | translate}}">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{dataContext.templateRepresentation | json}}</pre>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="showMultiInstanceInfo" expanded="{{expandedMultiInstanceInfo}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>list_alt</mat-icon>
        {{'Extra.MultiInstance' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="dataContext.multiInstanceData | json" (click)="stopPropagation($event)" matTooltip="{{'Generic.Copy' | translate}}">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{dataContext.multiInstanceData | json}}</pre>
      </mat-card>
    </ng-template>
  </mat-expansion-panel>

</mat-accordion>
