<mat-accordion class="source-accordion" multi>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>list_alt</mat-icon>
        Template Rendering Representation - Intermediate Template Data
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="templateRepresentationString" (click)="stopPropagation($event)">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{templateRepresentation | json}}</pre>
      </mat-card>
    </ng-template>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>view_module</mat-icon>
        Template JSON-LD - Template Source Data
      </mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="templateJsonString" (click)="stopPropagation($event)">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{templateJson | json}}</pre>
      </mat-card>
    </ng-template>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>device_hub</mat-icon>
        Instance JSON-LD - Instance Data
      </mat-panel-title>
      <mat-panel-description>
       &nbsp;
        <mat-icon matRipple [cdkCopyToClipboard]="instanceDataString" (click)="stopPropagation($event)">content_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card>
        <pre>{{instanceData | json}}</pre>
      </mat-card>
    </ng-template>

  </mat-expansion-panel>

</mat-accordion>
