.year-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.year-month-picker .mat-calendar-arrow {
  display: block;
}

::ng-deep button.mat-calendar-period-button {
  display: none;
}
