<mat-expansion-panel expanded="{{ expandedSampleTemplateLinks }}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>subject</mat-icon>
      {{ 'Extra.SampleTemplate.Title' | translate }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  @if (sampleTemplates) {
    <ng-template matExpansionPanelContent>
      <mat-selection-list
        #templates
        [formControl]="templateCtrl"
        [multiple]="false"
        (click)="selectionClicked({ option: templates.selectedOptions.selected[0] })"
      >
        @for (template of sampleTemplates; track template) {
          <mat-list-option [value]="template.num">{{ template.label }}</mat-list-option>
        }
      </mat-selection-list>
    </ng-template>
  }
</mat-expansion-panel>
