<form class="form-container" [formGroup]="options">
  @if (showsLinkAsValue) {
    <app-cedar-term-link
      [iri]="inputValueControl.value"
      [fieldLabel]="cds.getRenderingLabelForComponent(component)"
    >
      <a
        class="cee-term-link-action"
        [href]="inputValueControl.value"
        target="_blank"
        rel="noopener"
        attr.aria-label="{{ 'Generic.OpenLink' | translate }}"
        matTooltip="{{ 'Generic.OpenLink' | translate }}"
      >
        <mat-icon>{{ linkIconName }}</mat-icon>
      </a>
    </app-cedar-term-link>
  }
  <mat-form-field class="full-width" [class.cee-hidden]="showsLinkAsValue">
    <!--    <mat-label>{{cds.getRenderingLabelForComponent(component)}}</mat-label>-->
    <input
      matInput
      [placeholder]="readOnlyMode ? (component | ceeSpecPlaceholder) : ''"
      type="text"
      [formControl]="inputValueControl"
      (input)="inputChanged($event)"
      [readonly]="readOnlyMode"
      attr.aria-label="{{ cds.getRenderingLabelForComponent(component) }}"
    />
    @if (inputValueControl.value && !readOnlyMode) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        attr.aria-label="{{ 'Generic.Clear' | translate }}"
        (click)="clearValue()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    @if (inputValueControl.getError('pattern') && !readOnlyMode) {
      <mat-error class="mat-error align-start">{{ 'Validation.Link.Invalid' | translate }}</mat-error>
    }
    @if (inputValueControl.getError('required') && !readOnlyMode) {
      <mat-error class="mat-error align-start">{{ 'Validation.Required' | translate }}</mat-error>
    }
  </mat-form-field>
</form>
