<app-cedar-embeddable-metadata-editor
  *ngIf="editorDataReady()"
  [config]="innerConfig"
  [templateJsonObject]="templateJson"
  [sampleTemplateLoaderObject]="sampleTemplateLoaderObject"
></app-cedar-embeddable-metadata-editor>

<mat-card *ngIf="!editorDataReady() && showSpinnerBeforeInit">
  <div class="spinner-wrapper">
    <mat-progress-spinner
      diameter="24"
      mode="indeterminate">
    </mat-progress-spinner>
    <mat-card-title>CEDAR Embeddable Editor initializing!</mat-card-title>
  </div>
</mat-card>
