<input type="file" #singleFile id="singleFile"
       [fileUploadInputFor]="fileUploadQueue"
       [multiple]="false" [accept]="'.json'" style="display: none;"/>
<div *ngIf="showSuccess" class="notify-success template-card status-box">{{successMessage}}
  <button type="button" class="close" (click)="clearSuccess()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="showError" class="notify-error template-card status-box">{{errorMessage}}
  <button type="button" class="close" (click)="clearError()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-card class="template-card container" [fileUploadInputFor]="fileUploadQueue" appDnd>
  <h3><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABoElEQVRoge2YPU7DQBCFP/HT01DFEQ1Q01NxAw7BMSgoKZE4RWSlInABEnMELkCJJWJKpJjCtmSCDbvr2fXfPmnkaLUzb15mNLs2eHh4jBpLIK2wVWlPZGG9bEudhHdq1s9r1lPLv1Vy0ELxr7QFbf66ivQOgxGyV7P+AmxcJtIxfg9riPg563vL78dvW/BTy8MxVKdGAIRAQvUNVtISYA6c6AhRmRoBEDsQsG0xMJEUEuZ7HnQCN8AEWOScM1WniP9fbIp2ciGiwDTn/JAM2tahWck7mAOxTkjbdy0xqLTN6Fvr1iWZytQyrUgK3Bj4NeUVD1j4mVamc0JMxWjxqkwtCSEmbabFa3NqVd2fdCrTaSE6YjonZAO8ApfAGXAgmNuvzdu2qtijixR4Aq6AL+DIwF+Z95lqIeWzxVTIPbAL7ANvwJ2mf2fGbxnXwCfqbSXFKx7wELhogdduwCa8g38f6R2aCEnyZyCRiCKm+XMtGXRO1qsL3IgJgMecM5QMfAq8Y+fb1V8WA8eSQiD7FDQjK7VtAWuySoiL8PAYA74BrJ0x93i8VhIAAAAASUVORK5CYII=" style="vertical-align: middle"/>&nbsp;&nbsp; Drag and drop your CEDAR template file here or &nbsp;&nbsp;<label for="singleFile">Browse for file</label></h3>
</mat-card>
<mat-file-upload-queue #fileUploadQueue [fileAlias]="fileAlias" [httpUrl]="httpUrl">
  <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"
                   (onUpload)="onFileUploaded($event)"
  ></mat-file-upload>
</mat-file-upload-queue>





