<div *ngIf="component && currentMultiInfo" [ngClass]="isAlignedUp? 'aligned-up' : 'pager-container'">
  <div class="pager-chips">
    <mat-chip-list tabIndex="0" aria-label="Allows multi values.">
      <mat-chip selectable="false" disabled="true" *ngIf="!hasMultiInstances()" aria-label="No values yet">{{'Multi.NoInstancesYet' | translate}}</mat-chip>
      <mat-chip *ngFor="let pageNumber of pageNumbers"
                [selected]="pageNumber == currentMultiInfo.currentIndex"
                (click)="chipClicked(pageNumber)"
                selectable="true"
      >{{pageNumber + 1}}</mat-chip>
    </mat-chip-list>
  </div>
  <div>
    <button mat-icon-button tabindex="0" [disabled]="!isEnabledAdd()" (click)="clickedAdd($event)" aria-label="Add empty after current">
      <mat-icon [tabIndex]="-1" matTooltip="{{'Multi.AddEmptyAfter' | translate}}">note_add</mat-icon>
    </button>
    <button mat-icon-button tabindex="0" [disabled]="!isEnabledCopy()" (click)="clickedCopy($event)" aria-label="Add clone after current">
      <mat-icon [tabIndex]="-1" matTooltip="{{'Multi.AddCloneAfter' | translate}}">content_copy</mat-icon>
    </button>
    <button mat-icon-button tabindex="0" [disabled]="!isEnabledDelete()" (click)="clickedDelete($event)" aria-label="Delete current">
      <mat-icon [tabIndex]="-1" matTooltip="{{'Multi.DeleteCurrent' | translate}}">delete</mat-icon>
    </button>
  </div>
  <div class="pager-pager">
    <mat-paginator
      *ngIf="getInstanceCount()>1" [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions: []"
                   [pageIndex]="pageIndex"
                   [hidePageSize]="hidePageSize"
                   (page)="paginatorChanged($event)">
    </mat-paginator>
  </div>
</div>
<div *ngIf="component && currentMultiInfo && multiInstanceValue && showAllMultiInstanceValues" class="info-box"
     [innerHTML]="multiInstanceValue | keepHtml"></div>
