@import '~src/styles.scss';

.header-image {
  background-image: url('../../../../../assets/images/cedar-logo-80x80.png');
  background-size: cover;
  background-color: #0B3938;
}

.template-card {
  max-width: 90%;
  background-color: #f8f8f8;
  margin: 0 auto;
}

.mat-card {
  margin-bottom: 40px;
}

