@if (dataAvailableForRender() && showHeader) {
  <app-static-header></app-static-header>
}
@if (dataAvailableForRender() && dataContext && handlerContext && pageBreakPaginatorService) {
  <mat-card appearance="outlined" class="template-card">
    <!--  <mat-card-header>-->
    <div class="template-header" [class.template-header-paged]="dataContext.templateRepresentation?.hasPageBreaks()">
      <div class="logo-block">
        <div
          mat-card-avatar
          class="header-image"
          (click)="launchMetadataCenter()"
          role="link"
          aria-label="Cedar logo - https://metadatacenter.org"
        ></div>
        <span class="cee-version" [title]="ceeVersion">{{ ceeVersion }}</span>
      </div>
      <div class="template-title-block">
        <h1 class="template-label">{{ dataContext.templateRepresentation?.labelInfo?.label }}</h1>
        @if (dataContext.templateRepresentation?.labelInfo?.description && showTemplateDescription) {
          <p class="template-description">{{ dataContext.templateRepresentation?.labelInfo?.description }}</p>
        }
      </div>
      <div class="template-actions">
        @if (dataContext.templateRepresentation?.hasPageBreaks()) {
          <div class="page-break-control">
            <app-cedar-static-page-break
              [dataContext]="dataContext"
              [pageBreakPaginatorService]="pageBreakPaginatorService"
            ></app-cedar-static-page-break>
          </div>
        }
        <div class="expand-buttons">
          <button mat-button (click)="openAll()">
            <mat-icon>unfold_more</mat-icon>{{ 'Generic.ExpandAll' | translate }}
          </button>
          <button mat-button (click)="closeAll()">
            <mat-icon>unfold_less</mat-icon>{{ 'Generic.CollapseAll' | translate }}
          </button>
          @if (showDownloadMenu) {
            <app-download-menu (downloadRequested)="download($event)"></app-download-menu>
          }
        </div>
      </div>
    </div>
    <!--  </mat-card-header>-->
    <mat-card-content class="template-content">
      @for (childComponent of pageBreakPaginatorService.getCurrentPage(); track childComponent) {
        @if (!childComponent.hidden) {
          <app-cedar-component-renderer
            [componentToRender]="childComponent"
            [handlerContext]="handlerContext"
            [allExpanded]="allExpanded"
            [pageBreakPaginatorService]="pageBreakPaginatorService"
          ></app-cedar-component-renderer>
        }
      }
    </mat-card-content>
  </mat-card>
}
@if (dataAvailableForRender() && showFooter) {
  <app-static-footer></app-static-footer>
}
