<app-static-header *ngIf="dataAvailableForRender() && showHeader"
                   [callbackOwnerObject]="sampleTemplateLoaderObject"
                   [showSampleTemplateLinks]="showSampleTemplateLinks"></app-static-header>
<!--<preferences-menu>-->
<!--  </preferences-menu>-->
<mat-card class="template-card" *ngIf="dataAvailableForRender()">
  <mat-card-header>
    <div mat-card-avatar class="header-image" ></div>
    <h1>{{dataContext.templateRepresentation.labelInfo.label}}</h1>
    <h2 *ngIf=dataContext.templateRepresentation.labelInfo.description>{{dataContext.templateRepresentation.labelInfo.description}}</h2>
    <div *ngIf="dataContext.templateRepresentation.hasPageBreaks()" class="header-flex-child">
      <app-cedar-static-page-break
        [dataContext]="dataContext"
        [pageBreakPaginatorService] = "pageBreakPaginatorService"
      ></app-cedar-static-page-break>
    </div>
  </mat-card-header>
  <mat-card-content>
    <button mat-button (click)="openAll()">{{'Generic.ExpandAll' | translate}}</button>
    <button mat-button (click)="closeAll()">{{'Generic.CollapseAll' | translate}}</button>
    <ng-container *ngFor="let childComponent of pageBreakPaginatorService.currentPage()">
      <app-cedar-component-renderer
        [componentToRender]="childComponent"
        [handlerContext]="handlerContext"
        [allExpanded]="allExpanded"
        [showStaticText]="showStaticText"
      ></app-cedar-component-renderer>
    </ng-container>
    <app-cedar-data-saver *ngIf="showDataSaver"
                          [endpointUrl]="dataSaverEndpointUrl"
                          [dataContext]="dataContext"
    ></app-cedar-data-saver>
  </mat-card-content>
</mat-card>
<app-source-panels *ngIf="dataAvailableForRender()"
                   [dataContext]="dataContext"
                   [showTemplateRenderingRepresentation]="showTemplateRenderingRepresentation"
                   [showMultiInstanceInfo]="showMultiInstanceInfo"
                   [showTemplateSourceData]="showTemplateSourceData"
                   [showInstanceDataCore]="showInstanceDataCore"
                   [showInstanceDataFull]="showInstanceDataFull"
                   [expandedTemplateRenderingRepresentation]="expandedTemplateRenderingRepresentation"
                   [expandedMultiInstanceInfo]="expandedMultiInstanceInfo"
                   [expandedTemplateSourceData]="expandedTemplateSourceData"
                   [expandedInstanceDataCore]="expandedInstanceDataCore"
                   [expandedInstanceDataFull]="expandedInstanceDataFull"
></app-source-panels>
<app-sample-templates *ngIf="dataAvailableForRender() && showSampleTemplateLinks"
                      [callbackOwnerObject]="sampleTemplateLoaderObject"
                      [expandedSampleTemplateLinks]="expandedSampleTemplateLinks"
></app-sample-templates>
<app-static-footer *ngIf="dataAvailableForRender() && showFooter"></app-static-footer>
