.section-break-header {
  box-sizing: border-box;
  background-color: silver;
  padding: 6px 12px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
