@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(assets/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.allow-cr {
  white-space: pre;
}

.form-container {
  min-width: 50%;
  max-width: 100%;
  border: 0 solid red;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.half-width-with-margin {
  width: 49%;
  margin-right: 1%;
}

.image-component {
  background-color: #e5daa1;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.section-break-component {
  background-color: #f0f8f7;
  margin-top: 30px;
}

.youtube-component {
  background-color: #ff0000;
  min-width: 400px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.icon-help {
  margin-left: 10px;
}

.icon-src {
  margin-left: 10px;
}

.mat-card {
  margin-top: 5px;
}

.iterable-component {
  background-color: #f0f0f8;
}

.non-iterable-component {
  background-color: #f8f0f0;
}

.header-image {
  background-image: url('/assets/images/cedar-logo-80x80.png');
  background-size: cover;
  background-color: #0B3938;
}

.cedar-logo {
  background-image: url('/assets/images/cedar-logo-80x80.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  width: 70px;
  height: 70px;
}

.template-card {
  max-width: 90%;
  background-color: #f8f8f8;
  margin: 0 auto;
}

.pager-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.pager-chips {
  margin-right: 20px;
}

app-source-panels {

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-panel {
    max-width: 90%;
    margin: 0 auto;
    background-color: #f5f5f5;

    pre {
      font-size: 12px;
      line-height: 1.1;
    }
  }

  .mat-expansion-panel-header-title .mat-icon {
    margin-right: 15px;
  }

}

.toolbar-spacer {
  flex: 1 2 auto;
}

app-sample-templates {
  .mat-expansion-panel {
    max-width: 90%;
    margin: 10px auto 0;
    background-color: #f5f5f5;
  }

  .mat-expansion-panel-header-title .mat-icon {
    margin-right: 15px;
  }
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-progress-spinner {
    margin-right: 10px;
  }
}

.info-box {
  color: #004085;
  background-color: #cce5ff;
  padding: 15px;
  border: 1px solid #b8daff;
  border-radius: 0.25rem;
  margin: 15px 0;
}






.notify-info, .notify-success, .notify-error, .notify-warning, .notify-progress {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.notify-info:before, .notify-success:before, .notify-error:before, .notify-warning:before, .notify-progress:before {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  vertical-align: middle;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .8em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1px;
}

.notify-info:before {
  content: "\e88e";
}

.notify-success:before {
  content: '\e86c';
}

.notify-error:before {
  content: '\e000';
}

.notify-warning:before {
  content: '\e002';
}

.notify-progress-icon {
  margin-right: .8em;
  line-height: 1em;
  margin-left: .2em;
  float:left;
  margin-top: 2px;
}

.notify-info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.notify-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.notify-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.notify-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.notify-progress {
  color: #383d41;
  background-color: #eeeeee;
  border-color: #d6d8db;
}

.close {
  float: right;
  font-size: 1.5rem;
  line-height: .9;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  color: inherit;
}

.close:hover {
  opacity: 1;
}

button.close {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
