<div class="cee-offset-picker" [formGroup]="form">
  @if (readOnlyMode) {
    <span class="cee-offset-readonly" attr.aria-label="{{ customPlaceholderText }}">
      {{ displayValue() }}
    </span>
  } @else {
    <mat-form-field>
      <mat-label>{{ customPlaceholderText }}</mat-label>
      <mat-select
        formControlName="timezone"
        [compareWith]="compareZones"
        (closed)="markTouched()"
        attr.aria-label="{{ customPlaceholderText }}"
      >
        @for (zone of timeZones; track zone.id) {
          <mat-option [value]="zone">{{ zone.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
