
<mat-form-field appearance="fill">
  <mat-label>Year</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>












<ngx-mat-timepicker
  [(ngModel)]="timePickerTime"
  [enableMeridian]="enableMeridian"
  [disableMinute]="disableMinute"
  [showSeconds]="showSeconds"
  [showSpinners]="true">
</ngx-mat-timepicker>

<ng-moment-timezone-picker
  [(ngModel)]="yourModel"
  [customPlaceholderText]="'Select timezone...'"
  [customNotFoundText]="'No timezone found'" [getUserZone]="true">
</ng-moment-timezone-picker>

