@if (showDatePicker()) {
  <div class="cee-temporal-date">
    <app-date-picker
      [dateFormat]="dateFormat()"
      (dateChangedEvent)="dateInputChanged($event)"
      [dateMonthYear]="dateMonthYearControl"
      [required]="required"
      xmlns="http://www.w3.org/1999/html"
    ></app-date-picker>
  </div>
}

@if (showTimePicker()) {
  <div class="cee-temporal-time">
    <app-time-picker
      [(ngModel)]="timePickerTime"
      (ngModelChange)="timeInputChanged($event)"
      [enableMeridian]="enableMeridian()"
      [disableMinute]="disableMinute()"
      [showSeconds]="showSeconds()"
    >
    </app-time-picker>

    @if (showDecimalSeconds()) {
      <span class="cee-fraction-separator" aria-hidden="true">.</span>
      <mat-form-field class="cee-fraction-field">
        <input
          matInput
          type="text"
          inputmode="numeric"
          pattern="[0-9]*"
          (input)="decimalSecondsChanged($event)"
          [(ngModel)]="decimalSeconds"
          name="decimalSeconds"
          placeholder="000"
          matTooltip="{{ 'Generic.DecimalSeconds' | translate }}"
          attr.aria-label="{{ 'Generic.SelectDecimalSeconds' | translate }}"
          [readonly]="readOnlyMode"
        />
      </mat-form-field>
    }
  </div>
}

@if (showTimezonePicker()) {
  <div class="cee-temporal-offset">
    <app-timezone-picker
      [(ngModel)]="timezone"
      (ngModelChange)="timezoneInputChanged($event)"
      customPlaceholderText="{{ 'Generic.SelectUtcOffset' | translate }}"
      [getUserZone]="setDefaultZone"
    ></app-timezone-picker>
  </div>
}

@if (hasTemporalValue() && !readOnlyMode) {
  <button
    type="button"
    mat-icon-button
    class="cee-temporal-clear"
    attr.aria-label="{{ 'Generic.Clear' | translate }}"
    matTooltip="{{ 'Generic.Clear' | translate }}"
    (click)="clearValue()"
  >
    <mat-icon>close</mat-icon>
  </button>
}

@if (valueControl.invalid && userEdited && !readOnlyMode) {
  <mat-error class="mat-error align-start cee-temporal-error">
    {{ validationMessage() }}
  </mat-error>
}
