@if (renderDecision; as decision) {
  @switch (decision.kind) {
    @case ('element') {
      @if (decision.component; as iterableComponent) {
        <mat-accordion multi>
          <mat-expansion-panel
            hideToggle
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false; allExpanded = false"
            [expanded]="panelOpenState"
          >
            <mat-expansion-panel-header>
              <mat-panel-title class="cee-element-heading">
                <app-cedar-component-header
                  [componentToRender]="iterableComponent"
                  [disclosure]="panelOpenState"
                ></app-cedar-component-header>
              </mat-panel-title>
            </mat-expansion-panel-header>
            @if (decision.multiComponent) {
              <app-cedar-multi-pager
                [componentToRender]="decision.multiComponent"
                [handlerContext]="handlerContext"
                [isAlignedUp]="true"
                [pageBreakPaginatorService]="pageBreakPaginatorService"
              ></app-cedar-multi-pager>
            }
            <app-cedar-field-problems
              [componentToShow]="iterableComponent"
              [handlerContext]="handlerContext"
            ></app-cedar-field-problems>
            @if (shouldRenderContentOfIterable(iterableComponent)) {
              <mat-card-content class="cee-element-content">
                @for (childComponent of iterableComponent.children; track childComponent) {
                  @if (!childComponent.hidden) {
                    <app-cedar-component-renderer
                      [componentToRender]="childComponent"
                      [handlerContext]="handlerContext"
                      [allExpanded]="allExpanded"
                      [pageBreakPaginatorService]="pageBreakPaginatorService"
                    ></app-cedar-component-renderer>
                  }
                }
              </mat-card-content>
            }
          </mat-expansion-panel>
        </mat-accordion>
      }
    }
    @case ('field') {
      @if (decision.component; as nonIterableComponent) {
        <div
          cedarFieldPresentation
          [componentToRender]="nonIterableComponent"
          [handlerContext]="handlerContext"
          [showContent]="shouldRenderContentOfNonIterable(nonIterableComponent)"
          class="child-component-card non-iterable-component"
          [class.inline-readonly-pager]="shouldInlineReadOnlyPager(nonIterableComponent)"
        >
          @if (nonIterableComponent.isMultiPage() && shouldRenderOccurrencePager()) {
            <app-cedar-multi-pager
              [componentToRender]="nonIterableComponent"
              [handlerContext]="handlerContext"
              [isAlignedUp]="false"
              [pageBreakPaginatorService]="pageBreakPaginatorService"
            ></app-cedar-multi-pager>
          }
        </div>
      }
    }
    @case ('static') {
      @if (decision.component; as staticComponent) {
        <app-cedar-field-widget
          [componentToRender]="staticComponent"
          [handlerContext]="handlerContext"
        ></app-cedar-field-widget>
      }
    }
  }
}
