<ng-container *ngIf="iterableComponent">
  <mat-card class="child-component-card iterable-component">
    <app-cedar-component-header *ngIf="!iterableComponent.linkedStaticFieldComponent"
                                [componentToRender]="iterableComponent"
    ></app-cedar-component-header>
    <app-cedar-multi-pager *ngIf="iterableComponent.isMulti()"
                           [componentToRender]="iterableComponent"
                           [handlerContext]="handlerContext"
    ></app-cedar-multi-pager>
    <mat-card-content *ngIf="shouldRenderContentOfIterable(iterableComponent)">
      <ng-container *ngIf="iterableComponent.linkedStaticFieldComponent">
        <!-- These are the collapsed static components before elements -->
        <app-cedar-static-image *ngIf="iterableComponent.linkedStaticFieldComponent.basicInfo.inputType==inputType.image"
                                [componentToRender]="iterableComponent.linkedStaticFieldComponent"
                                [handlerContext]="handlerContext"></app-cedar-static-image>
        <app-cedar-static-youtube *ngIf="iterableComponent.linkedStaticFieldComponent.basicInfo.inputType==inputType.youtube"
                                  [componentToRender]="iterableComponent.linkedStaticFieldComponent"
                                  [handlerContext]="handlerContext"></app-cedar-static-youtube>
        <app-cedar-static-rich-text *ngIf="iterableComponent.linkedStaticFieldComponent.basicInfo.inputType==inputType.richText"
                                  [componentToRender]="iterableComponent.linkedStaticFieldComponent"
                                  [handlerContext]="handlerContext"></app-cedar-static-rich-text>
      </ng-container>
      <ng-container *ngFor="let childComponent of iterableComponent.children">
        <app-cedar-component-renderer
          [componentToRender]="childComponent"
          [handlerContext]="handlerContext"
        ></app-cedar-component-renderer>
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-container *ngIf="nonIterableComponent">
  <mat-card class="child-component-card non-iterable-component">
    <app-cedar-component-header *ngIf="!nonIterableComponent.linkedStaticFieldComponent"
                                [componentToRender]="nonIterableComponent"
    ></app-cedar-component-header>
    <app-cedar-multi-pager *ngIf="nonIterableComponent.isMultiPage()"
                           [componentToRender]="nonIterableComponent"
                           [handlerContext]="handlerContext"
    ></app-cedar-multi-pager>
    <mat-card-content *ngIf="shouldRenderContentOfNonIterable(nonIterableComponent)">
      <ng-container *ngIf="nonIterableComponent.linkedStaticFieldComponent">
        <!-- These are the collapsed static components before fields-->
        <app-cedar-static-image *ngIf="nonIterableComponent.linkedStaticFieldComponent.basicInfo.inputType==inputType.image"
                                [componentToRender]="nonIterableComponent.linkedStaticFieldComponent"
                                [handlerContext]="handlerContext"></app-cedar-static-image>
        <app-cedar-static-youtube *ngIf="nonIterableComponent.linkedStaticFieldComponent.basicInfo.inputType==inputType.youtube"
                                  [componentToRender]="nonIterableComponent.linkedStaticFieldComponent"
                                  [handlerContext]="handlerContext"></app-cedar-static-youtube>
        <app-cedar-static-rich-text *ngIf="nonIterableComponent.linkedStaticFieldComponent.basicInfo.inputType==inputType.richText"
                                    [componentToRender]="nonIterableComponent.linkedStaticFieldComponent"
                                    [handlerContext]="handlerContext"></app-cedar-static-rich-text>
      </ng-container>
      <!-- These are the regular components -->
      <app-cedar-input-numeric *ngIf="nonIterableComponent.basicInfo.inputType==inputType.numeric"
                               [componentToRender]="nonIterableComponent"
                               [handlerContext]="handlerContext"></app-cedar-input-numeric>
      <app-cedar-input-text *ngIf="nonIterableComponent.basicInfo.inputType==inputType.text ||
                                    nonIterableComponent.basicInfo.inputType==inputType.textarea"
                            [componentToRender]="nonIterableComponent"
                            [handlerContext]="handlerContext"></app-cedar-input-text>
      <app-cedar-input-controlled *ngIf="nonIterableComponent.basicInfo.inputType==inputType.controlled"
                                  [componentToRender]="nonIterableComponent"
                                  [handlerContext]="handlerContext"></app-cedar-input-controlled>
      <app-cedar-input-email *ngIf="nonIterableComponent.basicInfo.inputType==inputType.email"
                             [componentToRender]="nonIterableComponent"
                             [handlerContext]="handlerContext"></app-cedar-input-email>
      <app-cedar-input-checkbox *ngIf="nonIterableComponent.basicInfo.inputType==inputType.checkbox"
                             [componentToRender]="nonIterableComponent"
                             [handlerContext]="handlerContext"></app-cedar-input-checkbox>
      <app-cedar-input-select *ngIf="nonIterableComponent.basicInfo.inputType==inputType.list"
                                [componentToRender]="nonIterableComponent"
                                [handlerContext]="handlerContext"></app-cedar-input-select>
      <app-cedar-input-attribute-value *ngIf="nonIterableComponent.basicInfo.inputType==inputType.attributeValue"
                              [componentToRender]="nonIterableComponent"
                              [handlerContext]="handlerContext"></app-cedar-input-attribute-value>
      <app-cedar-input-multiple-choice *ngIf="nonIterableComponent.basicInfo.inputType==inputType.radio"
                                [componentToRender]="nonIterableComponent"
                                [handlerContext]="handlerContext"></app-cedar-input-multiple-choice>
      <app-cedar-input-datetime *ngIf="nonIterableComponent.basicInfo.inputType==inputType.temporal"
                                       [componentToRender]="nonIterableComponent"
                                       [handlerContext]="handlerContext"></app-cedar-input-datetime>
      <app-cedar-input-link *ngIf="nonIterableComponent.basicInfo.inputType==inputType.link"
                             [componentToRender]="nonIterableComponent"
                             [handlerContext]="handlerContext"></app-cedar-input-link>
      <app-cedar-input-phone *ngIf="nonIterableComponent.basicInfo.inputType==inputType.phoneNumber"
                            [componentToRender]="nonIterableComponent"
                            [handlerContext]="handlerContext"></app-cedar-input-phone>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-container *ngIf="staticComponent">
  <!-- This is the normal section break -->
  <app-cedar-static-section-break *ngIf="staticComponent.basicInfo.inputType==inputType.sectionBreak"
                                  [componentToRender]="staticComponent"
                                  [handlerContext]="handlerContext"></app-cedar-static-section-break>
  <!-- These are the non-collapsed static components -->
  <app-cedar-static-image *ngIf="staticComponent.basicInfo.inputType==inputType.image"
                          [componentToRender]="staticComponent"
                          [handlerContext]="handlerContext"></app-cedar-static-image>
  <app-cedar-static-youtube *ngIf="staticComponent.basicInfo.inputType==inputType.youtube"
                            [componentToRender]="staticComponent"
                            [handlerContext]="handlerContext"></app-cedar-static-youtube>
  <app-cedar-static-rich-text *ngIf="staticComponent.basicInfo.inputType==inputType.richText"
                              [componentToRender]="staticComponent"
                              [handlerContext]="handlerContext"></app-cedar-static-rich-text>
</ng-container>
